<!DOCTYPE html>
<html lang="en" th:replace="layouts/admin :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit ' + ${service.name} + ' information'"></title>
</head>
<body>
    <section>
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Update service information</span>
                <h3 class="page-title" th:text="${service.name}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form class="quill-parents add-new-post" th:action="@{'/service/' + ${service.id} + '/updateInformation'}" method="post">
                    <div class="card card-small mb-3">
                        <div class="card-body">
                            <form class="add-new-post" method="post">
                                <input name="name" class="form-control form-control-lg mb-3" type="text" th:value="${service.name}">
                                <div name="information" class="quill-editor add-new-post__editor" th:utext="${service.information}"></div>
                            </form>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>