<!DOCTYPE html>
<html lang="en" th:replace="layouts/admin :: layout(~{::title}, ~{::section})">

<head>
  <meta charset="UTF-8">
  <title>Service Management</title>
</head>

<body>
  <section>
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Service Management</span>
        <h3 class="page-title">All created service</h3>
      </div>
    </div>
    <div class="row">
      <div th:each="service : ${services}" class="col-lg-3 col-md-4 col-sm-12 mb-4">
        <div class="card card-small card-post mb-4">
          <div class="card-body">
            <a class="text-fiord-blue" th:href="@{'/service/' + ${service.id}}">
              <h5 class="card-title" th:text="${service.name}"></h5>
            </a>
            <div class="utext" th:utext="${service.information}"></div>
            <p class="card-text">Last modified: <span th:text="${{service.updatedDate}}"></span></span></p>
          </div>
          <div class="card-footer border-top d-flex">
            <div class="card-post__author d-flex">
              <a th:if="${service.customer.avatar != null}" th:href="@{'/customer/' + ${service.customer.id}}"
                class="card-post__author-avatar card-post__author-avatar--small"
                th:style="'background-image: url(data:image;base64,' + ${service.customer.avatar.base64} + ')'"></a>
              <div class="d-flex flex-column justify-content-center ml-3">
                <span class="card-post__author-name" th:text="${service.customer.name}"></span>
                <small class="text-muted">Created at: <span th:text="${{service.createdDate}}"></span></small>
              </div>
            </div>
            <div class="my-auto ml-auto">
              <button class="btn btn-sm btn-white">
                <i class="far fa-bookmark mr-1"></i>
                <span th:switch="${service.type}">
                  <span th:case="0">One time</span>
                  <span th:case="1">Concurrent</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>