<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Quotation</title>
    <style>
        .page-break {
            page-break-after: always;
        }

        .utext p {
            margin: 6px 0;
            line-height: 12px;
        }

        .bg-gray {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <table
        style="width: 100%; font-family: Arial, Helvetica, sans-serif; color: #999; border-collapse: collapse; padding: 0; margin: 0;"
        border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td valign="top">
                    <span style="color: #000; font-weight: bold;">ABC</span><br /><span>Company</span>
                </td>
                <td style="text-align: right; font-weight: bold; text-transform: uppercase; color: #999; font-family: Arial, Helvetica, sans-serif; font-size: 90%;"
                    valign="top" height="100">
                    <h1 style=" color: #000; font-weight: lighter; font-size: 40px; margin-bottom: 0;">INVOICE</h1>
                    <h2 style="font-weight: lighter;"># <span th:text=" ${dateHash}"></span></h2>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 2px; font-size: 1px; " colspan="2" height="2">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <table
        style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 90%; color: #999; border-collapse: collapse; padding: 0; margin: 0;"
        border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="vertical-align: top;" width="90%">
                    <table
                        style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 100%; word-break: break-all; color: #999;"
                        border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="height: 30px; font-size: 1px;" height="30">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">Bill To:</td>
                            </tr>
                            <tr style="height: 10px; font-size: 1px;">
                                <td style="height: 10px; font-size: 1px;" height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <span style="color: #000; font-weight: bold;"
                                        th:text="${service.customer.name}"></span><br />
                                    <pre style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"
                                        class="utext" th:utext="${service.customer.information}"></pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="6%">&nbsp;</td>
                <td style="vertical-align: top;" valign="top" width="204%">
                    <table style="width: 100%; font-size: 100%;" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="height: 30px; font-size: 1px;" height="30">
                                    <div class="utext" th:utext="${service.information}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" width="10%">
                                    &nbsp;
                                </td>
                                <td valign="top" width="50%">
                                    <table style="width: 100%; font-size: 100%; color: #999; word-break: break-all;"
                                        border="0" cellspacing="0" cellpadding="10" align="right">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: right;">Date:</td>
                                                <td style="text-align: right; color: #000" th:text="${dateString}"></td>
                                            </tr>
                                            <tr style="background-color: #eee; font-weight: bold; font-size: 16px;">
                                                <td style="text-align: right; color: #000;">Balance Due:</td>
                                                <td style="text-align: right; color: #000">$<span
                                                        th:text="${total}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 30px; font-size: 1px;">
                <td colspan="3" valign="top" height="30">&nbsp;</td>
            </tr>
            <tr style="height: 30px; font-size: 1px;">
                <td colspan="3" valign="top" height="30">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" valign="top">
                    <table
                        style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 100%; color: #999; border-collapse: collapse; padding: 0; margin: 0;"
                        border="0" cellspacing="0" cellpadding="8">
                        <tbody>
                            <tr style="background-color: #333;">
                                <td style="text-align: left; font-weight: bold; color: white;" width="40%" height="20">
                                    Item
                                </td>
                                <td style="text-align: left; font-weight: bold; color: white;" height="20">
                                    Quantity
                                </td>
                                <td style="text-align: right; font-weight: bold; color: white;" height="20">
                                    Rate
                                </td>
                                <td style="text-align: right; font-weight: bold; color: white;" height="20">
                                    Amount
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" style="height: 8px;"></td>
                            </tr>
                            <tr style="color: #000;">
                                <td>
                                    <span style="color: #000; font-weight: bold;" th:text="${timeRange}"></span><br />
                                    <pre style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;"
                                        class="utext" th:utext="${service.information}"></pre>
                                </td>
                                <td valign="top" th:text="${service.hours}"></td>
                                <td valign="top" style="text-align: right">$<span th:text="${service.rate}"></span></td>
                                <td valign="top" style="text-align: right">$<span th:text="${total}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <table
                        style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 100%; color: #999; border-collapse: collapse; padding: 0; margin: 0;"
                        border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" width="100%" height="100px">&nbsp;</td>
                                <td valign="top" width="120%">
                                    <table
                                        style="width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 100%; color: #999; border-collapse: collapse; padding: 0; margin: 0;"
                                        border="0" cellspacing="0" cellpadding="8" align="right">
                                        <tbody>
                                            <tr style="height: 8px; font-size: 1px;">
                                                <td style="height: 8px; font-size: 1px;" colspan="5" valign="top"
                                                    height="8">&nbsp;</td>
                                            </tr>
                                            <tr style="height: 8px; font-size: 1px;">
                                                <td style="height: 8px; font-size: 1px;" colspan="5" valign="top"
                                                    height="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="225%">&nbsp;</td>
                                                <td width="150%">Total:</td>
                                                <td style="text-align: right; color: #000;" width="150%">$<span
                                                        th:text="${total}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>