<!DOCTYPE html>
<html lang="en" th:replace="layouts/admin :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="'Estate Detail: ' + ${estate.address}"></title>
</head>
<body>
<section>
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-md-10 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Estate Detail</span>
            <h3 class="page-title" th:text="${estate.address}"></h3>
        </div>
        <div class="col-12 col-md-2 text-center text-sm-right mb-0">
            <a th:href="@{'/estate/edit/' + ${estate.id}}" class="btn btn-warning">Edit information</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-body">
                    <p class="card-text d-inline-block mb-3" th:text="${estate.description}"></p>
                    <h5 class="card-title">Detail Information</h5>
                    <ul class="list-group list-group-small list-group-flush">
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Estate value</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray" th:text="${estate.price}">19,291</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Rent price</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray" th:text="${estate.rent}">11,201</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Size X</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray"
                                  th:text="${estate.x}">9,291</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Size Y</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray"
                                  th:text="${estate.y}">8,281</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Capacity</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray"
                                  th:text="${estate.capacity}">7,128</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Rooms</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray" th:text="${estate.rooms}">6,218</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Toilets</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray"
                                  th:text="${estate.toilets}">1,218</span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">Built date</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray"
                                  th:text="${{estate.builtDate}}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card map-card card-small card-post card-post--aside card-post--1"
                 th:utext="${estate.mapUrl}"></div>
            <style>
                .map-card {
                    overflow: hidden;
                }

                .map-card iframe {
                    width: 100%;
                }
            </style>
        </div>
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-header border-bottom">Pictures</div>
                <div th:if="${!estate.pictures.empty}" class="card-body border-bottom">
                    <div class="row">
                        <div th:each="picture : ${estate.pictures}" class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                            <img th:src="'data:image;base64,' + ${picture.base64}" class="rounded w-100">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form method="post" th:action="@{'/estate/' + ${estate.id} + '/uploadPictures'}" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estate picture</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="pictures" id="pictures" multiple>
                                <label class="custom-file-label" for="pictures">Choose file</label>
                            </div>
                        </div>
                        <div class="text-right">
                            <a th:href="@{'/estate/' + ${estate.id} + '/clearPictures'}" class="btn btn-danger">Clear All</a>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card">
                <div class="card-header border-bottom">
                    <div class="row">
                        <div class="col">Rental Management</div>
                        <div class="col text-right"><a th:href="@{'/estate/' + ${estate.id} + '/assign'}" class="btn btn-primary">Assign Customer</a></div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div th:each="rent : ${estate.rents}" th:if="${rent.endDate == null}" th:with="days=${rent.startDate.until(now).getDays()},total=${rent.price * days / 30}" class="blog-comments__item d-flex p-3">
                        <div class="blog-comments__avatar mr-3">
                            <img th:if="${rent.customer.avatar != null}" th:src="${'data:image;base64,' + rent.customer.avatar.base64}" alt="User avatar">
                        </div>
                        <div class="blog-comments__content">
                            <div class="blog-comments__meta text-muted">
                                <a class="text-secondary" href="#" th:text="${rent.customer.name}"></a> <span class="text-muted">– <span th:text="${days}"></span> days ago</span>
                            </div>
                            <p th:if="${total > rent.paid}" class="m-0 my-1 mb-2 text-muted">Payable: $<span th:text="${#numbers.formatDecimal(total - rent.paid, 1, 3)}"></span></p>
                            <p th:unless="${total > rent.paid}" class="m-0 my-1 mb-2 text-muted"><span class="text-success"><i class="material-icons">check</i></span> All paid</p>
                            <div class="blog-comments__actions my-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-white">
                                        <span class="text-light"><i class="material-icons">local_atm</i></span> Monthly Price: $<span th:text="${rent.price}"></span> </button>
                                    <button type="button" class="btn btn-white">
                                        <span class="text-danger"><i class="material-icons">clear</i></span> Total Rent: $<span th:text="${#numbers.formatDecimal(total, 1, 3)}"></span> </button>
                                    <button type="button" class="btn btn-white">
                                        <span class="text-success"><i class="material-icons">check</i></span> Paid: $<span th:text="${rent.paid}"></span> </button>
                                </div>
                            </div>
                            <form method="post" action="/estate/pay">
                                <div class="input-group input-group-sm">
                                    <input type="hidden" name="rentId" th:value="${rent.id}">
                                    <input type="number" step="0.001" class="form-control" placeholder="Pay amount" name="amount" th:value="0">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Pay</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="bg-danger rounded text-white p-3">
                <div class="row">
                    <div class="col-md-10">Are you sure you want to delete this estate? This cannot be undone!</div>
                    <div class="col-md-2 text-right">
                        <form method="post" th:action="@{/estate/delete}">
                            <input type="hidden" name="id" th:value="${estate.id}">
                            <input type="submit" class="btn btn-light text-dark" th:value="Delete"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>